---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;

// Determine the appropriate class based on heading depth
const depthClass = `toc-h${depth}`;
---

<li class={`${depth > 2 ? "ms-1" : ""}`}>
	<a
		class={`line-clamp-2 hover:text-accent ${depthClass} ${depth === 2 ? "mt-2" : "mt-1"}`}
		href={`#${slug}`}>{text}</a
	>
	{
		!!children.length && (
			<ol class="ms-2">
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ol>
		)
	}
</li>
